<launch> 

<include file="$(find phantomx_gazebo)/launch/phantomx_gazebo.launch" />

<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <param name="odom_frame" value="base_stabilized" />
    <param name="scan_topic" value="/phantomx/scan_filtre"/>
    <param name="map_size" value="2000"/>
</node>


<node name="cave_explorer" pkg="phantomx_control" type="cave_explorer.py" />
<node name="phantomx_positionning" pkg="phantomx_positionning" type="phantomx_positionning" />
<node name="filtreLidar" pkg="phantomx_mapping" type="filtreLidar.py" />
<include file="$(find phantomx_camera)/launch/camera.launch" />


<node name="rviz" pkg="rviz" type="rviz" args="-d $(find phantomx_mapping)/config/configRviz.rviz" />
</launch> 
